@mixin sizes ($width , $height) {
  height: $height;
  width: $width;
}
.vende-autos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .h2-main-autos {
        @include sizes(100%,auto);
        text-align: center;
        margin: 0.4rem 0;
        padding: 1rem 0;
        font-size: 2.2rem;
        color: #fff;
        letter-spacing: 1, 2px;
        background-color: red;

      }
}