.a-index{
  font-size: 1.6rem !important;
}
.subtitulo-main {
  text-align: center;
  margin: 0.4rem 0;
  padding: 1rem 0;
  font-size: 1.7rem;
  color: #fff;
  letter-spacing: 1, 2px;
  background-color: red;
  width: 100%;
}

.section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
  margin-bottom: 2rem;
}
.section .contenedor-section {
  width: 25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 5px solid red;
  background-color: black;
}
.section .contenedor-section .section-div-img {
  width: 100%;
}
.section .contenedor-section .section-div-h3 {
  text-align: center;
  color: white;
  text-decoration: none;
  font-size: 1.4rem;
  margin-top: 10px;
}
.section .contenedor-section .section-div-p {
  text-align: center;
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  margin-top: 20px;
}

.vende-autos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.vende-autos .h2-main-autos {
  height: auto;
  width: 100%;
  text-align: center;
  margin: 0.4rem 0;
  padding: 1rem 0;
  font-size: 1.5rem;
  color: #fff;
  letter-spacing: 1, 2px;
  background-color: red;
}
.vende-autos .contenedor-autos {
  height: auto;
  width: 85%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 400px;
  grid-gap: 2rem;
  margin-bottom: 2rem;
  margin-top: 1.5rem;
}
.vende-autos .contenedor-autos .article-transf:hover {
  transform: scale(1.2);
}
.vende-autos .contenedor-autos .article-imgs-autos {
  height: 90%;
  width: 90%;
  -o-object-fit: cover;
     object-fit: cover;
}
.vende-autos .contenedor-autos .contenedor-h2-autos {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10%;
}
.vende-autos .contenedor-autos .contenedor-h2-autos .article-h2-autos {
  margin-top: 10px;
  margin-left: 5px;
}

.main-form-redes {
  width: 95%;
  max-width: 500px;
  margin: auto;
  background: lightgray;
  border-radius: 7px;
}
.main-form-redes .main-h2-redes {
  padding: 20px;
  text-align: center;
  font-weight: 100;
  font-size: 30px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  border-bottom: 5px solid red;
}
.main-form-redes .contenedor-inputs-redes {
  padding: 10px 30px;
  display: flex;
  flex-wrap: wrap;
}
.main-form-redes .contenedor-inputs-redes input {
  margin-bottom: 15px;
  padding: 15px;
  font-size: 16px;
  border-radius: 3px;
  border: 1px solid gray;
}
.main-form-redes .contenedor-inputs-redes .main-input-redes {
  width: 400px;
  text-align: center;
  height: 40px;
}
.main-form-redes .contenedor-inputs-redes .main-input-redes-2 {
  width: 400px;
  text-align: center;
  height: 60px;
}
.main-form-redes .contenedor-inputs-redes .main-button-redes {
  margin: auto;
  background: red;
  color: #fff;
  border-radius: 4px;
  height: 40px;
  width: 50%;
}
.main-form-redes .div-span-redes {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 10px;
}
.main-form-redes .div-span-redes .main-span-redes {
  font-size: 1.5rem;
}

.h2-main-autos {
  height: auto;
  width: 100%;
  font-family: Sansita;
  text-align: center;
  margin: 0.4rem 0;
  padding: 1rem 0;
  font-size: 2.2rem;
  color: #fff;
  letter-spacing: 1, 2px;
  background-color: red;
}

.main-marcas {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 1rem;
  margin-left: 2rem;
  margin-right: 2rem;
}
.main-marcas .contenedor-main-marcas {
  width: 90%;
}
.main-marcas .contenedor-main-marcas .img-contenedor-main {
  margin: 2rem;
  width: 100%;
}
.main-marcas .contenedor-main-marcas .p-contenedor-main {
  text-align: center;
  font-size: 1.5rem;
}
.main-marcas .contenedor-main-marcas .button-marcas-2 {
  display: flex;
  background-color: black;
  border-radius: 0.5rem;
  border: 1px solid transparent;
  margin: auto;
  justify-content: center;
  align-items: center;
  width: 12rem;
  height: 5rem;
}
.main-marcas .contenedor-main-marcas .button-cotiza-marcas {
  color: white;
  font-size: 1.2rem;
}
.main-marcas .contenedor-main-marcas .lista-contenedor-article {
  text-align: center;
  font-size: 1.3rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
}
.main-marcas .contenedor-main-marcas .lista-contenedor-article .numero-lista-article {
  margin-top: 2rem;
}

.h1-pagcontacto {
  height: auto;
  width: 100%;
  font-family: Sansita;
  text-align: center;
  margin: 0.4rem 0;
  padding: 1rem 0;
  font-size: 1.8rem;
  color: #fff;
  letter-spacing: 1, 2px;
  background-color: red;
}

.section-pagcontacto {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
  margin-bottom: 2rem;
}
.section-pagcontacto .contenedor-section-pagcontacto {
  width: 30rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 5px solid red;
  background-color: black;
  height: 20rem;
}
.section-pagcontacto .contenedor-section-pagcontacto .article-h3-pagcontacto {
  text-align: center;
  color: white;
  text-decoration: none;
  font-size: 2rem;
  margin-top: 1rem;
}
.section-pagcontacto .contenedor-section-pagcontacto .ubicacon {
  text-align: center;
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  margin-top: 1rem;
}
.section-pagcontacto .contenedor-section-pagcontacto .button-article-contacto {
  height: 5rem;
  width: 8rem;
  border: #fff;
  font-size: 1.2rem;
  margin-top: 2rem;
}

/*Navbar y footer de todas las paginas*/
@font-face {
  font-family: "Sansita";
  src: url(../fonts/Sansita-Italic.ttf);
}
* {
  margin: 0px;
  padding: 0px;
  font-family: "Sansita", sans-serif;
}

button:hover {
  background: lightslategray;
  color: #fff;
}

/*fin de pagina contacto.html*/
/*Incio de pagina redes.html*/
/* Fin de la pagina redes.html*/
@media screen and (max-width: 500px) {
  .encabezado nav img {
    width: 30%;
  }

  .navbar {
    gap: 10px;
  }

  .navbar li a {
    font-size: 0.8rem;
    text-align: center;
  }

  .lista-footer a {
    font-size: 0.8rem;
  }

  .img-footer {
    width: 30%;
  }

  /*pagina principal*/
  .titulo-principal {
    font-size: 1.6rem;
    justify-content: center;
    display: flex;
  }

  .img-main {
    display: flex;
    width: 90vw;
    height: auto;
    margin-top: 8rem;
    text-align: center;
    margin: auto;
  }

  .contenedor-autos {
    grid-template-rows: 150px;
    grid-gap: 1rem;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
  }

  .article-transf:hover {
    transform: scale(1.1);
  }

  .contenedor-h2-autos {
    font-size: 10px;
  }
}/*# sourceMappingURL=main.css.map */