@import "./partials/_colores";
@import "./partials/_header";
@import "./partials/_footer";
@import "./partials/_pagprincipal";
@import "./partials/_pagautos";
@import "./partials/pagredes";
@import "./partials/_pagmarcas";
@import "./partials/_pagcontacto";

/*Navbar y footer de todas las paginas*/
@font-face {
    font-family: "Sansita";
    src: url(../fonts/Sansita-Italic.ttf);
}
* {
    margin: 0px;
    padding: 0px;
    font-family: "Sansita" , sans-serif;
}

button:hover{
    background:lightslategray;
    color:#fff
}
/*fin de pagina contacto.html*/
/*Incio de pagina redes.html*/
/* Fin de la pagina redes.html*/
@media screen and (max-width:500px){
    .encabezado nav img{
        width: 30%;
    }
    .navbar{
        gap: 10px;
    }
    .navbar li a{
        font-size: 0.8rem;
        text-align: center;
    }
    .lista-footer a {
        font-size: 0.8rem;
    }
    .img-footer{
        width: 30%;
    }
    /*pagina principal*/

    .titulo-principal {
        font-size: 1.6rem;
        justify-content: center;
        display: flex;
    }
    .img-main {
        display:flex;
        width: 90vw;
        height:auto;
        margin-top: 8rem;
        text-align: center;
        margin: auto;
    }
    .contenedor-autos{
        grid-template-rows: 150px;
        grid-gap: 1rem;
        margin-bottom: 1rem;
        margin-top: 0.5rem;
    }
    .article-transf:hover{
        transform: scale(1.1);
    }
    .contenedor-h2-autos{
        font-size: 10px;
    }

}